/* main classes */

* {
    box-sizing: border-box; /* to prevent padding-marging effects */
    word-break: normal;
    word-wrap: break-word;
    max-width: 100%;
}

body {
	font-family: sans-serif;
	background: #161718;
}

h1 {
	font-size: 20px;
	font-weight: bolder;
	font-variant: small-caps;
}

h2 {
	font-size: 18px;
	font-weight: bolder;
	font-variant: small-caps;
}

h3 {
	font-size: 16px;
	font-weight: bolder;
	font-variant: small-caps;
}

h4 {
	font-size: 15px;
	font-weight: bolder;
	font-variant: small-caps;
}

h5 {
	font-size: 14px;
	font-weight: bolder;
	font-variant: small-caps;
}

h6 {
	font-size: 14px;
	font-weight: bolder;
	font-variant: small-caps;
}

img {
    height: auto;
    max-width: 100%;
    margin: 10px 10px 10px 0px;
}

.alignleft {
    float: left;
}

a, a:active, a:visited {
	color: #2a6774;
	text-decoration: underline;
}

a:hover {
	color: #49aabf;
	text-decoration: underline;
}

pre {
    max-width: 100%;
    overflow: auto;
}

code {
    display: block;
    border: solid 1px #eacf2c;
    padding: 10px 0px 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    font-family: courier;
    font-size: 14px;
    color: #000000;
    
}

/* table */

table {
    width: 100%;
}

td, tr {
    height: 40px;
}

tr > * {
    border-bottom: solid 1px #3b3c4b;
}

th {
    font-weight: bolder;
}


/* structure */

.wrapper {
	width: 80%;
	min-width: 1024px;
	margin: 0 auto;
	background: #FFFFFF;
	padding: 3px 3px 3px 3px;
}


.container {
	display:table;
	width: 100%;
}

.content {
	display: block;
	width: 100%;
	margin-top: 30px;
}

.content-grid {
	column-count: 4;
	width: 100%;
}


/* articles */

.entry {
	display: table;
	width: 100%;
	margin: 0px 20px 20px 0px;
	padding: 10px;
	min-height: 200px;
	height: 200px;
	background: #b9b9b9;
	border: none;
	box-shadow: 1px 1px #8a8b8b;
	position: relative;
}

.entry-dark-blue {
	background: #2a6774;
}

.entry-light-blue {
	background: #49aabf;
}

.entry-yellow {
	background: #eacf2c;
}


.entry:hover {
	background: #3b3c4b;
}

.entry h2 {
	font-size: 24px;
	font-weight: normal;
}

.entry h2 > a, .entry h2 > a:active, .entry h2 > a:visited {
	color: #ffffff;
	text-decoration: none
}

.entry h2 > a:hover {
	color: #ffffff;
	text-decoration: none
}

.entry > div.postmetadata {
	color: #666666;
	position: absolute;
	bottom: 0px;
	font-size: 14px;

}

.entry > div.postmetadata a,
.entry > div.postmetadata a:active,
.entry > div.postmetadata a:visited  {
	color: #666666;
	text-decoration-line: underline;
	text-decoration-style: solid;
}

.entry > div.postmetadata a:hover  {
	color: #999999;
	text-decoration-line: underline;
	text-decoration-style: solid;
}

.entry-dark-blue > div.postmetadata {
	color: #aaaaaa;
	position: absolute;
	bottom: 0px;
	font-size: 14px;

}

.entry-dark-blue  > div.postmetadata a,
.entry-dark-blue  > div.postmetadata a:active,
.entry-dark-blue  > div.postmetadata a:visited  {
	color: #aaaaaa;
	text-decoration-line: underline;
	text-decoration-style: solid;
}

.entry-dark-blue  > div.postmetadata a:hover  {
	color: #999999;
	text-decoration-line: underline;
	text-decoration-style: solid;
}

/* single entry */

.article {
    display: block;
    width: auto;
    padding: 5px 5px 5px 5px;
    margin: 0px 0px 0px 10px;
}

.article-header {
	display: block;
	width: auto;
	color: #2a6774;
	min-height: 100px;
	padding: 10px 10px 10px 10px;
	position: relative;
	border-bottom: solid 1px #2a6774;
}


.page-header {
	display: block;
	width: auto;
	color: #2a6774;
	min-height: 50px;
	padding: 10px 10px 10px 10px;
	margin-bottom: 10px;
	position: relative;
	border-bottom: solid 1px #2a6774;
}

.article-header a, 
.article-header a:active, 
.article-header a:visited, 
.article-header a:hover {
	text-decoration: none;
}

.article-header .article-author {
	font-size: 12px;
	position: absolute;
	bottom: 0px;
}

.article-header .article-author a {
	text-decoration: underline;
}

.page-header:after,
.article-header:after{
    content: '';
    width: 5px;
    height: 5px;
    background: #fff;
    position: absolute;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: -4px;
    right: 146px;
    border-right: #2a6774 solid 1px;
    border-bottom: #2a6774 solid 1px;
} 

.article .postmetadata {
	font-size: 12px;
	display: block;
}

/* page navigation */
.content-grid .navigation {
	display: table;
	width: 100%;
	margin: 0px 20px 20px 0px;
	padding: 10px;
	min-height: 200px;
	height: 200px;
	background: #3b3c4b;
	border: none;
	box-shadow: #8a8b8b;
	position: relative;
	color: #ffffff;
	box-shadow: 1px 1px #8a8b8b;
}

.content-grid .navigation a, 
.content-grid .navigation a:active,
.content-grid .navigation a:visited {
	color: #999999;
	text-decoration-line: underline;
	text-decoration-style: solid;
}

.content-grid .navigation a:hover {
	color: #ffffff;
}

/* left panel */
.left-panel {
	display: table-cell;
	box-sizing: border-box;
	height: auto;
	width: 300px;
	padding-right: 10px;
	vertical-align: top;
}

/* menu */
.mobile-main-menu {
	display: none;
}

/* menu */
.main-menu {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
}

.main-menu .menu > ul,
.main-menu ul.menu {
    display: block;
    margin-top: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
}

.main-menu .menu > ul > li,
.main-menu  ul.menu > li.menu-item {
    display: table-cell;
    width: 100%;
    float: left;
    font-size: 14px;
    vertical-align: middle;
    min-height: 50px;
}

.main-menu .menu > ul > li > a,
.main-menu .menu > ul > li > a:active,
.main-menu .menu > ul > li > a:visited,
.main-menu ul.menu > li.menu-item  a,
.main-menu ul.menu > li.menu-item  a:active,
.main-menu ul.menu > li.menu-item  a:visited
{
    display: block;
    width: 100%;
    color: #3b3c4b;
    text-decoration: none;
    padding: 10px 10px 10px 10px; 
    border-bottom: solid 1px #3b3c4b;
    position: relative;

}

.main-menu .menu > ul > li > a:after,
.main-menu ul.menu > li.menu-item a:after{
    content:'';
    width:5px;
    height:5px;
    background:#fff;
    position:absolute;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    bottom: -4px;
    left:146px;
    border-right:#3b3c4b solid 1px;
    border-bottom:#3b3c4b solid 1px;
} 

.main-menu .menu > ul > li > a:hover,
.main-menu ul.menu > li.menu-item > a:hover{
	font-weight: bolder;
	text-shadow: 1px 1px #ebebed;
}

/* --- 2nd menu level ---*/

.main-menu .menu > ul > li > ul.children,
.main-menu ul.menu > li.menu-item > ul.sub-menu {
    display: none;
    padding: 0;
    margin: 0;
}

.main-menu .menu > ul > li > ul.children > li,
.main-menu ul.menu > li.menu-item > ul.sub-menu > li {
    display: block;
    float:none;
    width: 100%;
    list-style-type: none;
    font-size: 13px;
    /* background-color: #2a6774; */
    background: #ebebed;
}

/* ... to display the 2nd level menu ... */
.main-menu .menu > ul > li:hover > ul.children,
.main-menu ul.menu > li.menu-item:hover > ul.sub-menu {
    display: block;
}


.main-menu .menu > ul > li > ul.children > li > a,
.main-menu .menu > ul > li > ul.children > li > a:active,
.main-menu .menu > ul > li > ul.children > li > a:visited, 
.main-menu ul.menu > li.menu-item > ul.sub-menu > li > a,
.main-menu ul.menu > li.menu-item > ul.sub-menu > li > a:active,
.main-menu ul.menu > li.menu-item > ul.sub-menu > li > a:visited {
    display: block;
    color: #2d2e2f;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
}

.main-menu .menu > ul > li > ul.children > li > a:hover,
.main-menu ul.menu > li.menu-item > ul.sub-menu > li > a:hover {
    color: #2d2e2f;
    text-shadow: 1px 1px #9d9e9f;
    /* background-color: #eacf2c; */
}

/* --- 3rd level menu -- */

.main-menu .menu > ul > li > ul.children > li > ul.children, 
.main-menu ul.menu > li.menu-item > ul.sub-menu > li.menu-item > ul.sub-menu {
    display: none;
    top: 0px;
    padding: 0;
    margin: 0;
}

.main-menu .menu > ul > li > ul.children > li > ul.children > li,
.main-menu ul.menu > li.menu-item > ul.sub-menu > li.menu-item > ul.sub-menu > li {
    display: block;
    float:none;
    width: 100%;
    list-style-type: none;
    font-size: 12px;
    background-color: #fbfbfd;
    position: relative;
}

.main-menu .menu > ul > li > ul.children > li:hover > ul.children,
.main-menu ul.menu > li.menu-item > ul.sub-menu > li.menu-item:hover > ul.sub-menu {
    display: block;
}

.main-menu .menu > ul > li > ul.children > li > ul.children > li > a,
.main-menu .menu > ul > li > ul.children > li > ul.children > li > a:active,
.main-menu .menu > ul > li > ul.children > li > ul.children > li > a:visited,
.main-menu ul.menu > li.menu-item > ul.sub-menu > li.menu-item > ul.sub-menu > li > a,
.main-menu ul.menu > li.menu-item > ul.sub-menu > li.menu-item > ul.sub-menu > li > a:active,
.main-menu ul.menu > li.menu-item > ul.sub-menu > li.menu-item > ul.sub-menu > li > a:visited {
    display: block;
    color: #2d2e2f;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
}

.main-menu .menu > ul > li > ul.children > li > ul.children > li > a:hover,
.main-menu ul.menu > li.menu-item > ul.sub-menu > li.menu-item > ul.sub-menu > li > a:hover {
    color: #2d2e2f;
    background-color: #9d9e9f;

}

/* footer */

.footer {
	display: block;
	width: auto;
	min-height: 100px;
	padding: 20px 20px 20px 20px;
	font-size: 12px;
	color: #3b3c4b;
	border-top: solid 1px #3b3c4b;
	background-image: url(../img/apple-keyboard-buttons-computer-34490.jpg);
	background-position: bottom;
	background-repeat: none;
	background-size: cover;
}

.footer a, 
.footer a:active, 
.footer a:visited, 
.footer a:hover {
	color: #3b3c4b;
	text-decoration: underline;
}

.footer-widgets {
	display: inline-flex;
	width: 100%;
	min-height: 200px;
	max-height: 400px;
	padding: 20px 20px 20px 20px;
	font-size: 12px;
	color: #3b3c4b;
	border-top: solid 1px #3b3c4b;
}

.footer-widgets a, 
.footer-widgets a:active, 
.footer-widgets a:visited {
	color: #3b3c4b;
	text-decoration: underline;
}

.footer-widgets a:hover {
	color: #49aabf;
}

.footer-widgets .footer-wigdets-zone {
	display: table-cell;
	float: left;
	min-width: 33%;
	height: auto;
	padding: 20px 20px 20px 20px;
}

div.footer-widgets .footer-wigdets-zone:nth-child(2) {
	border-left: solid 1px #3b3c4b;
	border-right: solid 1px #3b3c4b;
}

/* footer widgets */
div.footer-widgets .widget_archive ul,
div.footer-widgets .widget_categories ul {
	padding-left: 0px;
}

div.footer-widgets .widget_archive ul li,
div.footer-widgets .widget_categories ul li {
	display: inline-block;
	list-style-type: none;
}

div.footer-widgets .widget_archive ul li:after,
div.footer-widgets .widget_categories ul li:after {
	content: " | ";
}



/* header */
.header {
	display: block;
	width: 100%;
	min-height: 300px;
	padding: 20px 20px 20px 20px;
	position: relative;
	font-size: 12px;
	color: #161718;
	background-image: url(../img/apple-keyboard-buttons-computer-34490.jpg);
	background-position: top;
	background-repeat: none;
	background-size: cover;
}

.header .header-info {
	display: block;
	float:left;
	width: 30%;
	background: #eaeaea;
	opacity: 0.7;
	padding: 10px 10px 10px 10px;
}

.header .header-info h1 {
	display: block;
	width: auto;
	color: #161718;
	padding: 0px 0px 10px 0px;
	border-bottom: solid 1px #161718;
}

.header .header-info h1 a,
.header .header-info h1 a:active,
.header .header-info h1 a:visited,
.header .header-info h1 a:hover  {
	color: #161718;
	text-decoration: none;
}

.header .header-info .description {
	display: none;
	width: auto;
	color: #161718;
}

.header .header-info:hover {
	min-height: 372px;
}

.header .header-info:hover .description {
	display: block;
}

.header .header-widgets {
	display: block;
	width: 25%;
	min-width: 300px;
	float: right;
	background: #eaeaea;
	opacity: 0.7;
	padding: 10px 10px 10px 10px;
	min-height: 372px;
	max-height: 372px;

}

